llama-index-core
llama-index-llms-openai
llama-index-llms-openai-like
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-llms-groq
llama-index-callbacks-aim
llama-index-embeddings-fastembed
llama-index-retrievers-bm25
llama-index-question-gen-guidance
llama-index-vector-stores-chroma
llama-index-readers-file
llama-index-readers-json
llama-index-graph-stores-neo4j
transformers
torch
fastembed
sentence-transformers
pandas
Pyarrow
requests
pypdf
beautifulsoup4
chromadb
neo4j
rank-bm25

aim
jwt
guidance
openai
marshmallow